.container{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 30%;
    margin: 1.4%;
    margin-left: 5%;
    font-size: 40px;
    width: 250px; 
    height: auto;
}
h1{
    font-family: monospace;
    border-bottom: 100px;
    width: 25%;
    border-bottom: 2px solid red;
}
